#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/slstatus

- name: Install dependencies
  become: true
  ansible.builtin.package:
    name:
      - xorg
      - polkit
      - mate-polkit
      - feh
      - wireplumber
      - brightnessctl
      - i3lock
      - flameshot
      - gimp
      - ghostty
      - picom
      - imagemagick
    state: present

- name: Create the Wallpaper directory
  ansible.builtin.file:
    path: ~/Pictures/Wallpaper
    state: directory

- name: Copy Wallpapers
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: ~/Pictures/Wallpaper
  with_fileglob:
    - "files/wallpaper/*"

- name: Copy dwm source files
  ansible.builtin.copy:
    src: files/dwm/
    dest: "{{ ansible_facts['user_dir'] }}/.config/dwm"
  register: copy_dwm

- name: Copy slstatus source files
  ansible.builtin.copy:
    src: files/slstatus/
    dest: "{{ ansible_facts['user_dir'] }}/.config/slstatus"
  register: copy_slstatus

- name: Use the template slstatus configuration file
  template:
    src: templates/slstatusConfig.h.j2
    dest: "{{ ansible_facts['user_dir'] }}/.config/slstatus/config.h"
    mode: 0755
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
  register: slstatus_template

- name: Run 'install' target as root on dwm
  community.general.make:
    chdir: "{{ ansible_facts['user_dir'] }}/.config/dwm"
    target: install
  become: true
  when: copy_dwm.changed

- name: Run 'install' target as root on slstatus
  community.general.make:
    chdir: "{{ ansible_facts['user_dir'] }}/.config/slstatus"
    target: install
  become: true
  when: slstatus_template.changed

- name: Copy .xinitrc 
  ansible.builtin.copy:
    src: files/.xinitrc
    dest: "{{ ansible_facts['user_dir'] }}/.xinitrc"
    mode: 0755

- name: Create the picom directory
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/picom"
    state: directory

- name: Copy ghostty config file
  ansible.builtin.file:
    src: "{{ role_path }}/files/picom/picom.conf"
    dest: "{{ ansible_facts['user_dir'] }}/.config/picom/picom.conf"
    state: link
    force: true

- name: Copy the i3lock script
  ansible.builtin.file:
    src: "{{ role_path }}/files/.i3lock.sh"
    dest: "{{ ansible_facts['user_dir'] }}/.i3lock.sh"
    mode: 0744
    state: link
