#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/terminal
# - name: Install ghostty
#   community.general.pacman:
#     name: ghostty
#     state: present
#   become: true

# - name: Copy ghostty config file
#   ansible.builtin.file:
#     src: "{{ role_path }}/files/ghostty/config"
#     dest: "{{ ansible_user_dir }}/.config/ghostty/config"
#     state: link
#     force: true

- name: Install newer CLI-Tools
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ package_list }}"

- name: Batcat | Create config folder
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/bat"
    state: directory

- name: Batcat | Create symlink to role files directory
  ansible.builtin.file:
    src: "{{ role_path }}/files/bat/config"
    dest: "{{ ansible_facts['user_dir'] }}/.config/bat/config"
    state: link
    force: true

# - name: Install yazi, the terminal file manager
#   community.general.pacman:
#     name: yazi
#     state: present
#   become: true

- name: Install zsh and dependencies for omz
  ansible.builtin.package:
    name: 
      - zsh
      - fzf
      - git
      - curl
    state: present
  become: true

- name: Change default shell to zsh
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /usr/bin/zsh
  become: true

- name: Check if Oh my zsh exists
  ansible.builtin.stat:
    path: "{{ OMZ_DIR }}"
  register: cloned

- name: Install oh-my-zsh in a custom directory
  ansible.builtin.shell:
    cmd: export "{{ EXPORT_OMZ_DIR }}" && sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  when: not cloned.stat.exists

- name: Clone external plugins from defaults dictionary
  ansible.builtin.git:
    repo: "{{ item.value }}"
    dest: "{{ OMZ_CUSTOM }}/plugins/{{ item.key }}"
  loop: "{{ ZSH_CUSTOM_PLUGINS | dict2items }}"

- name: Use the template zshrc configuration file
  template:
    src: templates/zshrc.j2
    dest: "{{ ansible_facts['user_dir'] }}/.zshrc"
    mode: 0755
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    force: true
  register: zshrc_template

- name: Link custom files from defaults dictionary
  ansible.builtin.file:
    src: "{{ item.value }}"
    dest: "{{ OMZ_CUSTOM }}/{{ item.key }}"
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    state: link
  loop: "{{ ZSH_CUSTOM_FILES | dict2items }}"
