#SPDX-License-Identifier: MIT-0
---
- name: Include the appropriate OS vars file
  ansible.builtin.include_vars:
    file: "vars/{{ ansible_facts['os_family'] }}.yml"

- name: Install CLI-Tools
  become: true
  ansible.builtin.package:
    name: "{{ os_packages }}"
    state: present

- name: Install packages that are missing in the debian repo
  ansible.builtin.include_tasks: "Debian.yml"
  when: ansible_facts['os_family'] == "Debian"

- name: Find all config files
  ansible.builtin.find:
    paths: "{{ role_path }}/files/xdg_config/"
    file_type: any
  register: xdg_config

- name: Copy configuration files
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ ansible_facts['user_dir'] }}/.config/"
  loop: "{{ xdg_config.files }}"

- name: Change default shell to zsh
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /usr/bin/zsh
  become: true

- name: Check if Oh my zsh exists
  ansible.builtin.stat:
    path: "{{ OMZ_DIR }}"
  register: cloned

- name: Install oh-my-zsh in a custom directory
  ansible.builtin.shell:
    cmd: export "{{ EXPORT_OMZ_DIR }}" && sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  when: not cloned.stat.exists

- name: Clone external plugins from defaults dictionary
  ansible.builtin.git:
    repo: "{{ item.value }}"
    dest: "{{ OMZ_CUSTOM }}/plugins/{{ item.key }}"
  loop: "{{ ZSH_CUSTOM_PLUGINS | dict2items }}"

- name: Use the template zshrc configuration file
  template:
    src: templates/zshrc.j2
    dest: "{{ ansible_facts['user_dir'] }}/.zshrc"
    mode: 0755
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    force: true
  register: zshrc_template

- name: Use the template alias configuration file
  template:
    src: templates/alias.j2
    dest: "{{ ansible_facts['user_dir'] }}/.zshrc"
    dest: "{{ OMZ_CUSTOM }}/alias.zsh }}"
    mode: 0755
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    force: true

- name: Link custom files from defaults dictionary
  ansible.builtin.file:
    src: "{{ item.value }}"
    dest: "{{ OMZ_CUSTOM }}/{{ item.key }}"
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    state: link
  loop: "{{ ZSH_CUSTOM_FILES | dict2items }}"
