db_file "{{ mpd_database_file }}"
sticker_file "{{ mpd_stickers_file }}"
log_file "{{ mpd_logfile }}"
music_directory "{{ mpd_music_directory }}"
auto_update "{{ mpd_auto_update }}"
bind_to_address "{{ mpd_bind_address }}"
restore_paused "{{ mpd_restore_paused }}"

audio_output {
        type "{{ mpd_audio_output_type }}"
        name "{{ mpd_audio_output_name }}"
}
