---
- name: "Built Neovim from Source"
  ansible.builtin.include_tasks: "source.yml"

- name: "Install Dependencies"
  ansible.builtin.package:
    name:
      - clang
      - pyright
      - lua-language-server
      - bash-language-server
      - gopls
      - xclip
      - tree-sitter-cli
      - nodejs
      - ripgrep
      - fd
  become: true

- name: "Neovim | Config folder"
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    state: directory

- name: "Neovim | Create symlink to role files directory"
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    state: link
    force: true
