---
- name: Install Neovim build dependencies
  block:
    - name: Remove existing neovim
      become: true 
      ansible.builtin.package:
        name: neovim
        state: absent

    - name: Install RedHat build dependencies.
      become: true
      ansible.builtin.dnf:
        name:
          - cmake
          - curl
          - gcc
          - gettext
          - git
          - make
          - ninja-build
          - unzip
          - glibc-gconv-extra
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Install Debian build dependencies.
      become: true
      ansible.builtin.dnf:
        name:
          - ninja-build
          - gettext
          - cmake
          - curl
          - build-essential
          - git
        state: present
      when: ansible_facts['os_family'] == 'Debian'
      
    - name: Install Arch build dependencies.
      become: true
      community.general.pacman:
        name:
          - base-devel
          - cmake
          - ninja
          - curl
        state: present
      when: ansible_facts['os_family'] == 'Archlinux'

    - name: Install Python-pip
      ansible.builtin.package:
        name: 
          - python-pip
          - python-virtualenv
        state: present
      become: true

    - name: Ensure python-requests is installed
      ansible.builtin.pip:
        name: requests
        state: present
        virtualenv: /tmp/.venv
      become: true

- name: Compare current installed version against latest stable
  ansible.builtin.script:
    cmd: library/need_neovim_upgrade.py
    executable: /tmp/.venv/bin/python
  register: need_upgrade

- name: Build from source if there is a new stable version
  block:
    - name: Clone the repo
      ansible.builtin.git:
        repo: "https://github.com/neovim/neovim"
        dest: /tmp/neovim
        single_branch: yes
        version: stable

    - name: Build neovim from stable source
      become: true
      community.general.make:
        chdir: /tmp/neovim
        target: install
        params:
          CMAKE_BUILD_TYPE: RelWithDebInfo

    - name: remove dir
      become: true
      ansible.builtin.file:
        path: /tmp/neovim
        state: absent
  when: need_upgrade.stdout | trim == 'needUpgrade' 
